@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@section Header{}
@section LeftMenu{}
@section Body{
    <link href="~/Content/error-page.css" rel="stylesheet" />
    <div id="main">
        <h1>:(</h1>
        <p>Looks like something went wrong. Please, try again later.</p>
    </div>
}