@{
    ViewBag.Title = "Not realized";
}
@section Body{
<h2 class="text-center text-info">Sorry, but this function is not realized yet</h2>
<h4 class="text-center text-info">Come back later...</h4>
    }